$clr-yellow: #f2e307;
$clr-pink: #ff2d55;
$clr-blue: #00d4ff;
$clr-white: #ffffff;
$clr-border: #2c2c2c;
$clr-card-bg: #161b22;
$img-path: '../img/';
$hero-bg: 'hero-bg.webp';

$dark-blue: #020a16; // Глибокий нічний синій
$dark-burgundy: #1a0206; // Темний винний (бордо)
$black-bg: #000000;